body {
    font-family: "Inter", sans-serif;
}

header {
    backdrop-filter: blur(10px);
}

.Timeline-line {
    z-index: -1;
    position: absolute;
    width: 3px;
    left: 0;
    right: 0;
    margin: auto;
    top: -2em;
}

.ant-drawer-close {
    color: white !important;
}